/* General */
html
{
		scroll-behavior: smooth;
}

body
{
	margin: 0;
	font-family: 'Roboto', san-serif;
	font-weight: normal;
	color: #40514E;
	line-height: 1em;
	font-size: 1rem;
}

h2
{
	font-family:'Roboto', sans-serif;
	color:#141c3a;
	font-size:2em;
	letter-spacing:1px;
}

h3
{
	font-family:'Roboto', sans-serif;
	color:#141c3a;
	font-weight:normal;
	font-size:1.5em;
}

h4
{
	font-family:'Roboto', sans-serif;
	color:#141c3a;
	font-weight:normal;
	font-size:1.3em;
}

hr
{
	border:solid #E6ECF8 0.1rem;
	margin:100px 0;
	border-bottom:none;
}

p
{
	margin-bottom:0;
	size:3px;
	line-height:1.3em;
}

.test-div
{
	width:700px;
	margin:auto;
}

/* Headers */
.headers
{
	margin-bottom:70px;
	letter-spacing:2px;
}

/* Top Bar Section */
#nav-bar-section
{
	padding:30px 0;
	background-color:#bdbdbd;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color:gainsboro;
}

.nav-bar-container
{
	display:flex;
	justify-content:center;
	align-items:center;
	width:700px;
	margin:auto;
}

.nav-icon-github
{
	
}

.github-img
{
	width:50%;
	height:50%;
}

.github-img:hover
{
	filter: contrast(0%);
}

.nav-icon-linkedin-img
{
	
}

.linkedin-img
{
	width:50%;
	height:50%;
}

.linkedin-img:hover
{
	filter: contrast(0%);
}

.nav-tabs
{
	text-decoration:none;
	letter-spacing:1px;
	font-family:'Roboto', sans-serif;
	margin:1rem;
	color:#141c3a;
	justify-content:flex-end;
	padding-left:40%;
}

.nav-icon a:hover
{
	color:#71c9ce;
}

.nav-icon a:active
{
	color:#141c3a;
}

/* Top Heading Section */
#top-heading-section
{
	display:block;
	text-align:center;
	border-bottom-style:solid;
	border-bottom-color:#141c3a;
	border-bottom-width:1px;
}

.top-container
{
	margin:0 10%;
	padding-bottom:30px;
	border:5px;
}

.my-name
{
	margin:0;
	font-size:3.8rem;
	font-family:'Roboto', sans-serif;
	color:#141c3a;
	font-weight:bold;
	padding:30px;
	letter-spacing:2px;
}

.my-description
{
	font-family:'Roboto', sans-serif;
	color:#141c3a;
	font-size:1.1em;
	margin-bottom:50px;
}

/* About Section */
#about-section
{
	display:block;
	text-align:center;
	margin:70px 0;
	border-bottom-style:solid;
	border-bottom-color:#141c3a;
	border-bottom-width:1px;
	padding:30px;
}

.about-container
{
	margin:0 10%;
}

.about-text
{
	line-height:2rem;
	font-family:'Roboto', sans-serif;
}

/* Job Section */
#job-section
{
	display:block;
	text-align:center;
	margin:70px 0;
	padding:6.25rem;
	border-bottom-style:solid;
	border-bottom-color:#141c3a;
	border-bottom-width:1px;
}

.job-container
{
	margin:0 10%;
}

.job-text
{
	line-height:2rem;
	font-family:'Roboto', sans-serif;
}

/* Skills Section - UNFINISHED */
#skills-section
{
	display:block;
	text-align:center;
	border-bottom-style:solid;
	border-bottom-color:#141c3a;
	border-bottom-width:1px;
	padding-bottom:30px;
}

.headings
{
	margin-bottom:70px;
	letter-spacing:2px;
}

.skills-container
{
	display:flex;
}

/* Education Section */
#education-section
{
	display:block;
	text-align:center;
	padding:6.25rem 0;
	border-bottom-style:solid;
	border-bottom-color:#141c3a;
	border-bottom-width:1px;
}

.education-container
{
	margin:0 10%;
	background-color:#e3fdfd;
}

.education-text
{
	line-height:2;
	margin-bottom:50px;
	font-family:'Roboto', sans-serif;
}

/* Contact Section */
#contact-section
{
	display:block;
	text-align:center;
	margin-top:100px;
}

.contact-container
{
	margin:70px 10%;
}

.contact-text
{
	font-family:'Roboto', sans-serif;
	margin-bottom:30px;
}

/* Foot Section */
#foot-section
{
	display:block;
	padding:30px;
	background-color:#bdbdbd; 
	text-align:center;
	border-top-style:solid;
	border-top-color:gainsboro;
	border-top-width:3px;
}

.foot-container
{
	/* margin-top:100px; */
}

.challenge-text
{
	font-family:'Roboto', sans-serif;
}

.visitor-text
{
	font-family:'Roboto', sans-serif;
}

.aws-text
{
	font-family:'Roboto', sans-serif;
	padding-bottom:15px;
}

.api-img
{
	
}

.lambda-img
{
	
}

.dynamodb-img
{
	
}